---
import Layout from "../layouts/Layout.astro";
import "./home.css";
import Header from "../components/ui/header.astro";
import MapSection from "../components/ui/organisms/MapSection/MapSection.astro";
import FAQ from "../components/ui/organisms/FAQ/FAQ.astro";
import Footer from "../components/ui/footer.astro";
import one from "../assets/1.png";
import two from "../assets/2.png";
import three from "../assets/3.png";
import four from "../assets/4.png";
import five from "../assets/5.png";
import six from "../assets/6.png";
import seven from "../assets/7.png";

import logo from "../../public/logoVdh.png";
import course from "../../src/assets/course.jpg"
import BeerCursor from "../components/BeerCursor.astro";
import {Icon} from "astro-icon";
---

<Layout>
    <!--<BeerCursor/>-->
    <main>
        <div>
            <div class="w-screen h-screen relative overflow-hidden">
                <img id="one" src={one} alt="background image" class="background z-50"/>
                <img id="two" src={two} alt="background image" class="background z-40"/>
                <img
                        id="three"
                        src={three}
                        alt="background image"
                        class="background z-30"
                />
                <img
                        id="four"
                        src={four}
                        alt="background image"
                        class="background z-20"
                />
                <h1 id="date" class="fixed left-1/2 -translate-x-1/2 top-80 z-20 text-center text-emerald-950">
                    La voie du Houblon<br/>
                    11 juin 2023
                </h1>
                <img
                        id="five"
                        src={five}
                        alt="background image"
                        class="background z-10"
                />
                <img id="six" src={six} alt="background image" class="background z-[5]"/>
                <img
                        id="seven"
                        src={seven}
                        alt="background image"
                        class="background z-0"
                />
            </div>
            <Header class="absolute object-top z-50"/>
            <img
                    src={logo}
                    alt="logo vdh"
                    id="logo"
                    class="h-48 w-48 fixed left-1/2 -translate-x-1/2 top-14 z-50 transition-all duration-1000"
            />


            <div class="main relative z-60">
                <div class="presentation">
                    <div class="flex flex-row justify-items-center space-x-36">
                        <div>
                            <p>
                                La Voie du Houblon est une course à pied d’une longueur de 10km, reliant les villes de
                                Compiègne et d'Armancourt. Il s’agit d’une course caritative qui rassemblera 500
                                personnes et
                                dont
                                les
                                bénéfices sont intégralement reversés à une association solidaire : Le Fil d’Ariane.
                            </p>
                            <br/>
                            <div class="point flex flex-row" data-aos="fade-right">
                                <Icon name="ic:baseline-directions-run" class="fill-{FAF4D3} w-12 h-12"/>
                                Un parcours de 10km
                            </div>
                            <div class="point flex flex-row" data-aos="fade-right">
                                <Icon name="ic:baseline-directions-run" class="fill-{FAF4D3} w-12 h-12"/>
                                4 stands de dégustations
                            </div>
                            <div class="point flex flex-row" data-aos="fade-right">
                                <Icon name="ic:baseline-directions-run" class="fill-{FAF4D3} w-12 h-12"/>
                                Des animations
                            </div>
                            <div class="point flex flex-row" data-aos="fade-right">
                                <Icon name="ic:baseline-directions-run" class="fill-{FAF4D3} w-12 h-12"/>
                                Un village associatif à l'arrivée
                            </div>
                            <div class="point flex flex-row" data-aos="fade-right">
                                <Icon name="ic:baseline-directions-run" class="fill-{FAF4D3} w-12 h-12"/>
                                Un évenement caritatif
                            </div>
                        </div>
                        <img src={course} class="h-96"/>
                    </div>
                </div>

            </div>

            <div class=" timeline ml-1/2 ">
                <div class="outer">
                    <div class="card">
                        <div class="info">
                            <h3 class="title">12h30</h3>
                            <p>
                                Village de départ
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            <h3 class="title">14h30</h3>
                            <p>
                                Départ du parcours marche
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            <h3 class="title">15h30</h3>
                            <p>
                                Départ du parcours course
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            <h3 class="title">17h30-20H</h3>
                            <p>
                                Navettes retour
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            <h3 class="title">Title 5</h3>
                            <p>
                                Fermeture du village associatif
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center bg-[#D95D39] items-center">
                <h1>Tarif</h1>
                <div class="flex flex-row items-center justify-center space-x-40 text-center">
                    <div class="boite-tarif">
                        Adulte<br/>
                        18€
                    </div>
                    <div class="boite-tarif">
                        Enfant<br/>
                        14€
                    </div>
                    <div class="boite-tarif">
                        Cotisant BDE<br/>
                        18€
                    </div>
                    <div class="boite-tarif">
                        Etudiant<br/>
                        18€
                    </div>
                </div>
            </div>
            <MapSection/>
            <h1>FAQ</h1>
            <FAQ
                    question="La course est-elle ouverte aux personnes à mobilité réduite ?"
                    reponse="Oui, la course est ouverte aux personnes à mobilité réduite"
            />
            <hr/>
            <FAQ
                    question="Comment récupérer mon dossard ?"
                    reponse="Au départ de la course"
            />
            <hr/>
            <FAQ
                    question="Où mettre mes affaires pendant la course ? Y aura-t-il des casiers ?"
                    reponse="Oui, il y a des vestiaires pour poser des petites affaires, mais pas de places pour les gros sacs à dos."
            />
            <hr/>
            <FAQ
                    question="A quelle heure dois-je arriver le jour de la course ?"
                    reponse="Pour le départ marche entre 14h et 15h et pour le départ cours entre 15h et 16h"
            />
            <hr/>
            <FAQ
                    question="Puis-je marcher pendant la course ?"
                    reponse="Oui, il est possible de marcher pendant la course"
            />
            <hr/>
            <FAQ
                    question="A qui est destinée cette course ?"
                    reponse="La course est destinée à tous : enfants, parents, adolescents, adultes, sénior"
            />
            <h1>Le village Associatif</h1>
            <h2>Bar et restauration</h2>
            <h1>Nos Partenaires</h1>
            <h1>Le plan du parcours</h1>
        </div>
        <section>
            <iframe class="w-screen" src="https://www.youtube.com/embed/sDj9aRUb0pU" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
            </iframe>
        </section>
        <div class="flex flex-col jus text-center justify-items-center m-28">
            <p class="text-xl">Alors on t'a convaincu ?</p>
            <button class="button_billeterie" role="button">Achete ton billet !</button>
        </div>
        <Footer/>
    </main>
</Layout>

<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script is:inline>
    AOS.init();
</script>

<script>
    // script for FAQ items
    for (const faqDiv of document.querySelectorAll(".faq")) {
        const buttonChild = faqDiv.querySelector("#button");
        buttonChild.addEventListener("click", () => {
            if (faqDiv.style.maxHeight === "30px") {
                faqDiv.style.maxHeight = "60px";
            } else {
                faqDiv.style.maxHeight = "30px";
            }
        });
    }

    // script for parallax (ids one to seven)
    const parallax = (id, speed) => {
        const element = document.getElementById(id);
        element.style.transform = "translateY(" + window.scrollY * speed + "px)";
    };


    const logoVdh = document.querySelector("#logo");
    const header = document.querySelector("header");

    const date = document.querySelector("#date");
    let logoOnNavbar = false

    window.addEventListener("scroll", (event) => {
        // parallax("one", 0.1);
        parallax("two", 0.2);
        parallax("three", 0.3);
        parallax("four", 0.4);
        parallax("five", 0.5);
        parallax("six", 0.6);
        parallax("seven", 0.7);

        // Move logo to navbar on scroll
        if (window.scrollY > 0 && !logoOnNavbar) {
            logoVdh.classList.add("logoNavbar");
            header.classList.remove("-translate-y-64");
            logoOnNavbar = true;
        } else if (window.scrollY === 0 && logoOnNavbar) {
            logoVdh.classList.remove("logoNavbar");
            header.classList.add("-translate-y-64");
            logoOnNavbar = false;
        }

        if (window.scrollY > 220) {
            date.hidden = true;
        } else if (window.scrollY > 50) {
            date.style.opacity = 1
        } else {
            date.hidden = false;
        }
    });
</script>
