---
import Layout from "../layouts/Layout.astro";
import "./home.css";
import Header from "../components/ui/header.astro";
import MapSection from "../components/ui/organisms/MapSection/MapSection.astro";
import Questions from "../components/ui/organisms/FAQ/Questions.astro";
import Timeline from "../components/ui/organisms/Timeline/Timeline.astro"
import Footer from "../components/ui/footer.astro";
import one from "../assets/1.png";
import two from "../assets/2.png";
import three from "../assets/3.png";
import four from "../assets/4.png";
import five from "../assets/5.png";
import six from "../assets/6.png";
import seven from "../assets/7.png";

import logo from "../../public/logoVdh.png";
import course from "../../src/assets/course.jpg"
import psec from "../../src/assets/psec.png"
import BeerCursor from "../components/BeerCursor.astro";
import {Icon} from "astro-icon";
import PresentationLine from "../components/ui/atoms/presentationLine.astro";
import PricesSection from "../components/ui/organisms/pricesSection.astro";
import Partenaires from "../components/ui/organisms/Partenaires.astro";
import TimelineSection from "../components/ui/organisms/TimelineSection.astro";
---

<Layout>
    <!--<BeerCursor/>-->
    <main class="bg-white">
        <div class="absolute">
            <div class="w-screen h-screen relative overflow-hidden">
                <img id="one" src={one} alt="background image" class="background z-50 object-cover"/>
                <img id="two" src={two} alt="background image" class="background z-40 object-cover"/>
                <img
                        id="three"
                        src={three}
                        alt="background image"
                        class="background z-30 object-cover"
                />
                <img
                        id="four"
                        src={four}
                        alt="background image"
                        class="background z-20 object-cover"
                />
                <div id="date"
                     class="fixed left-1/2 -translate-x-1/2 top-28 z-20 text-center text-emerald-950 max-w-5xl">
                    <h1 class="text-5xl mb-1">La Voie du Houblon</h1>
                    <h1 class="lg:text-5xl md:text-4xl sm:text-3xl text-2xl mb-1">11 juin 2023</h1>
                    <h3 class="lg:text-2xl text-xl">Un parcours <span class="text-[#D95D39] font-bold"> caritatif</span> de <span
                            class="text-[#D95D39] font-bold"> 10km</span> plein d'<span
                            class="text-[#D95D39] font-bold">activités</span> à faire en marchant, ou en courant !</h3>
                </div>
                <img
                        id="five"
                        src={five}
                        alt="background image"
                        class="background z-10 object-cover"
                />
                <img id="six" src={six} alt="background image" class="background z-[5] object-cover"/>
                <img
                        id="seven"
                        src={seven}
                        alt="background image"
                        class="background z-0 object-cover"
                />

                <div class="absolute top-full left-1/2 z-50 -translate-x-1/2 -translate-y-36 flex flex-col items-center gap-10">
                    <a href="https://assos.utc.fr/woolly/ventes/179">
                        <button class="button_billeterie text-lg w-52" role="button">Acheter un billet</button>
                    </a>
                    <a href="#presentation">
                        <Icon id="fleche" name="ic:round-expand-more" class="w-12 h-12 text-[#D95D39] animate-bounce"/>
                    </a>
                </div>
                <span id="debut"></span>
            </div>

            <span id="presentation" class="absolute bottom-20"></span>
            <Header class="absolute object-top z-50"/>
            <main class="bg-white absolute z-30 w-screen overflow-hidden">
                <section class="pt-12 odd:bg-gray-50">
                    <div class="text-center pb-12 flex flex-row justify-center">
                        <svg class="hidden" xmlns="http://www.w3.org/2000/svg">
                            <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
                                <feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
                            </filter>
                        </svg>
                        <span filter-content="L" class="spanTitle pb-0 text-3xl lg:text-5xl">L'évènement</span>
                    </div>
                    <div class="flex flex-col justify-between pb-12">
                        <div>
                            <div class="flex md:flex-row flex-col-reverse justify-center items-center gap-20 px-12">
                                <div class="flex flex-col justify-center gap-4 text-2xl">
                                    <PresentationLine iconName="ic:baseline-directions-run">
                                        Un parcours de 10km
                                    </PresentationLine>
                                    <PresentationLine iconName="mdi:charity">
                                        Un évenement caritatif
                                    </PresentationLine>
                                    <PresentationLine iconName="icon-park-outline:beer">
                                        4 stands de dégustations
                                    </PresentationLine>
                                    <PresentationLine iconName="mdi:dice-6">
                                        Des animations sur le parcours
                                    </PresentationLine>
                                    <PresentationLine iconName="fa-solid:guitar">
                                        Un village associatif au départ et à l'arrivée
                                    </PresentationLine>
                                </div>
                                <img src={course} class="md:h-96 md:w-auto w-96 object-cover text-center" data-aos="fade-left"/>
                            </div>
                            <br/>
                            <div class="flex md:flex-row flex-col-reverse pt-12 justify-center items-center px-10 md:px-20 gap-20">
                                <div class="w-full" data-aos="zoom-in-down">
                                    <iframe class="w-full h-56 md:h-96 sm:h-72 max-w-2xl"
                                            src="https://www.youtube.com/embed/sDj9aRUb0pU" title="YouTube video player"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            allowfullscreen>
                                    </iframe>
                                </div>
                                <p style="font-size: 16px; line-height: 24px" class="text-black text-justify max-w-xl">
                                    La Voie du Houblon fait son retour le <span class="font-semibold text-primary">dimanche 11 juin 2023</span> pour sa 9e édition ! Le
                                    parcours reliera les villes de Compiègne et Armancourt en 10 km. Le retour s'effectue en <span class="font-semibold text-primary">navette</span>.
                                    <br/>
                                    <br/>
                                    Cette année, nous verserons tous les
                                    bénéfices au <a class="font-semibold text-primary" href="https://www.fil-dariane.org/ title="site Fil d'Ariane" target="_blank"">Fil d'Ariane</a>. Il s'agit d'une
                                    association
                                    venant en aide aux <span class="font-semibold text-primary">personnes ayant des déficiences visuelles</span>.
                                    <br/>
                                    <br/>
                                    Par ailleurs, nous vous conseillons de <span class="font-semibold text-primary">venir déguisé e•s</span>!
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <PricesSection/>
                <section class="md:py-12 pt-12 odd:bg-gray-50 relative">
                    <span id="parcours" class="absolute -top-20"></span>
                    <div class="text-center pb-12 flex md:flex-row flex-col-reverse justify-center justify-items-center">
                        <svg class="hidden" xmlns="http://www.w3.org/2000/svg">
                            <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
                                <feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
                            </filter>
                        </svg>
                        <span filter-content="S" class="spanTitle">Le parcours</span>
                    </div>
                    <div class="px-10 md:px-20">
                        <div class="flex md:flex-row flex-col justify-between items-center gap-20">
                            <p style="font-size: 16px; line-height: 24px" class="text-black text-justify max-w-xl">
                                Le parcours sera ponctué par <span class="font-semibold text-primary">quatre stands</span> qui proposeront des
                                dégustations de <span class="font-semibold text-primary">bières</span> ainsi que de la <span class="font-semibold text-primary">nourriture</span> et des boissons fraîches.
                                <br/>
                                <br/>
                                Le parcours peut être effectué <span class="font-semibold text-primary">en courant</span> ou <span class="font-semibold text-primary">en marchant</span> mais également en rollers, en
                                skateboard, en trottinette, en caddie (le caddie le mieux décoré recevra un lot !), etc.
                                Seuls les engins à moteur sont interdits (trottinettes électriques par exemple) !
                            </p>
                            <MapSection data-aos="fade-left"/>
                        </div>
                    </div>
                </section>
                <!-- <Timeline/> -->
                <TimelineSection/>
                <Questions/>
                <Partenaires/>
                <Footer/>
            </main>
        </div>
    </main>
</Layout>

<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script is:inline>
    AOS.init();
</script>

<script>
    // script for FAQ items
    for (const faqDiv of document.querySelectorAll(".faq")) {
        const buttonChild = faqDiv.querySelector("#button");
        const responseChild = faqDiv.querySelector("#contenu");
        buttonChild.addEventListener("click", () => {
            if (!responseChild.style.maxHeight) {
                responseChild.style.maxHeight = "25rem";
            } else {
                responseChild.style.maxHeight = "";
            }
        });
    }

    // script for parallax (ids one to seven)
    const parallax = (id, speed) => {
        const element = document.getElementById(id);
        element.style.transform = "translateY(" + window.scrollY * speed + "px)";
    };


    const header = document.querySelector("header");

    const date = document.querySelector("#date");
    let navbarShown = false

    window.addEventListener("scroll", (event) => {
        // parallax("one", 0.1);
        parallax("two", 0.2);
        parallax("three", 0.3);
        parallax("four", 0.4);
        parallax("five", 0.5);
        parallax("six", 0.6);
        parallax("seven", 0.7);

        // show navbar on scroll
        if (window.scrollY > 0 && !navbarShown) {
            header.classList.remove("-translate-y-64");
            navbarShown = true;
        } else if (window.scrollY === 0 && navbarShown) {
            header.classList.add("-translate-y-64");
            navbarShown = false;
        }
    });
</script>


